<mat-toolbar color="primary">
    <div>
      <a routerLink="/home">MyAPP</a>
      <span>&nbsp;&nbsp;&nbsp;</span>
  </div>
</mat-toolbar>
<mat-nav-list>
	<a *ngIf="isValidLogin" mat-list-item routerLink="/home" (click)="onSidenavClose()">
		<mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
  </a>
  <a *ngIf="isValidLogin" mat-list-item routerLink="/contact" (click)="onSidenavClose()">
    <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Contact</span>
  </a>
  <a *ngIf="isValidLogin" mat-list-item routerLink="/product" (click)="onSidenavClose()">
    <mat-icon>grid_view</mat-icon><span class="nav-caption">Product</span>
  </a>
  <a *ngIf="isValidLogin" mat-list-item routerLink="/lead" (click)="onSidenavClose()">
    <mat-icon>create_new_folder</mat-icon> <span class="nav-caption">Lead</span>
  </a>
  <a *ngIf="isValidLogin" mat-list-item routerLink="/documents" (click)="onSidenavClose()">
    <mat-icon>folder_open</mat-icon> <span class="nav-caption">Documents</span>
  </a>
  <a *ngIf="isValidLogin" mat-list-item routerLink="/report" (click)="onSidenavClose()">
    <mat-icon>bar_chart</mat-icon><span class="nav-caption">Report</span>
  </a>
  <mat-list-item [matMenuTriggerFor]="menu">
      <span *ngIf="profilePic ; else elseBlock">
        <img src="{{profilePic}}" style="width:20px;height:20px; margin: 5px;">
      </span>
    <!-- <a matline>User</a>  -->
    <span class="nav-caption">{{loginUserName}}</span>
    <span  fxFlex fxLayout fxLayoutAlign="end"><mat-icon>unfold_more</mat-icon></span>
  </mat-list-item>
  <mat-menu #menu="matMenu">
    <button *ngIf="!isValidLogin" routerLink="/login" mat-menu-item (click)="onSidenavClose()"><mat-icon>logout</mat-icon>Login</button>
    <button *ngIf="!isValidLogin" routerLink="/signup" mat-menu-item (click)="onSidenavClose()"><mat-icon>person_add</mat-icon>Register</button>
    <button *ngIf="isValidLogin" routerLink="/profile" mat-menu-item (click)="onSidenavClose()"><mat-icon>account_circle</mat-icon>View profile</button>
    <button *ngIf="isValidLogin" routerLink="/config" mat-menu-item (click)="onSidenavClose()"><mat-icon>settings_system_daydream</mat-icon>Setting</button>
    <button *ngIf="isValidLogin" (click)="logout()" mat-menu-item (click)="onSidenavClose()"><mat-icon>logout</mat-icon>Logout</button>
  </mat-menu>
</mat-nav-list>

<ng-template #elseBlock>
    <mat-icon>account_circle</mat-icon>
</ng-template>
