.mat-form-field {
    // display: flow-root;
    position: relative;
    text-align: left;
    margin-right: 10px;
}

.form-row {
  margin: 0px;
}

.mat-card {
  margin: 10px;
}

.btnmargin {
  margin-left:20px;
  margin-bottom:10px;
}

.btnmarginall {
  margin-right:20px;
  font-size: small;
  padding: 3px;
}

.btnremove {
  padding: 3px;
  font-size: small;
  margin-left: 3px;
}

.button-right {
  float: right;
  margin-right:10px;
}

.inputright {
    text-align: right;
}

.topmargin15px {
   margin-top:25px;
}

.mat-icon {
  padding-right:15px;
}

.table td {
  vertical-align: inherit;
  padding:0px;
  margin: 0rem;
}

.table {
    // width: 97%;
    // max-width: 97%;
    margin-bottom: 0rem;
}
