<mat-toolbar color="primary">
	<div fxHide.gt-xs>
		<button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
  <div>
      <a routerLink="/home">MyAPP</a>
      <span>&nbsp;&nbsp;&nbsp;</span>
  </div>
   <div *ngIf="isValidLogin" fxFlex fxLayout fxHide.xs>
      <ul fxLayout fxLayoutGap="15px" class="navigation-items">
          <li>
             <a routerLink="/contact"><mat-icon>assignment_ind</mat-icon>Contact</a>
          </li>
           <li>
             <a routerLink="/product"><mat-icon>grid_view</mat-icon>Product</a>
          </li>
           <li>
             <a routerLink="/lead"><mat-icon>create_new_folder</mat-icon>Lead</a>
          </li>
           <li>
             <a routerLink="/report"><mat-icon>bar_chart</mat-icon>Report</a>
          </li>
      </ul>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
      <ul fxLayout fxLayoutGap="15px" class="navigation-items">
           <li>
                <mat-list-item [matMenuTriggerFor]="menu">
                  <a matline><span *ngIf="profilePic ; else elseBlock">
                    <img src="{{profilePic}}" style="width:20px;height:20px; margin: 5px;"></span>
                    {{loginUserName}}</a>
                </mat-list-item>
                <mat-menu #menu="matMenu">
                  <button *ngIf="!isValidLogin" routerLink="/login" mat-menu-item><mat-icon>logout</mat-icon>Login</button>
                  <button *ngIf="!isValidLogin" routerLink="/signup" mat-menu-item><mat-icon>person_add</mat-icon>Register</button>
                  <button *ngIf="isValidLogin" routerLink="/profile" mat-menu-item><mat-icon>account_circle</mat-icon>View profile</button>
                  <button *ngIf="isValidLogin" (click)="logout()" mat-menu-item><mat-icon>logout</mat-icon>Logout</button>
                </mat-menu>
          </li>
      </ul>
  </div>
</mat-toolbar>

<ng-template #elseBlock>
    <mat-icon>account_circle</mat-icon>
</ng-template>
