.mat-form-field {
    display: flow-root;
    position: relative;
    text-align: left;
}

.form-row {
  margin: 20px;
}

.btn {
  margin-right:20px;
}

.button-right {
  float: right;
}

.textarea {
   width: 100%;
}

.inputright { 
    text-align: right; 
}