/* You can add global styles to this file, and also import other style files */
@import '~material-design-icons/iconfont/material-icons.css';

.header-mat-card {
  background: aliceblue;
  padding: 5px;
  margin-bottom: 5px;
}

.header-mat-card-btn {
    /* height: 300%; */
    margin-left: 20px;
    margin-bottom: 2px;
}
