.mat-form-field {
  // display: flow-root;
  position: relative;
  text-align: left;
  margin-right: 10px;
}

mat-slider {
  width: 200px;
}

ng5-slider {
  width: 200px;
}

p{
    text-align: right;
}
th{
    text-align: center;
}

.btnmarginall {
  margin-right:20px;
  font-size: small;
  padding: 3px;
}

.matlabel {
  font-size: 12px;
  font-weight: 500;
  color: #673ab7;
}

.form-row {
  margin: 20px;
}

.btn {
  margin-right:20px;
}

.button-right {
  float: right;
}

.textarea {
   width: 100%;
}

.inputright { 
    text-align: right; 
}

.btnmarginall {
  margin-right:20px;
  font-size: small;
  padding: 3px;
}

.marginright {
  margin-right:20px;
}

.btnremove {
  padding: 3px;
  font-size: small;
  margin-left: 3px;
}

h5 {
  margin-left: 30px;
}

.table td {
  vertical-align: inherit;
  padding: 0;
  margin-bottom: 0rem;

}

th {
  padding: 5px;
}

.small50width {
    width: 70px;
}

.table {
    width: 97%;
    max-width: 97%;
    margin-bottom: 0rem;
}
